# Config practice mode, use this in custom solo game (it enables cheats).

echo "/\/\/\/\/\/\/\/\/\/\/\/\ PRACTICE MODE /\/\/\/\/\/\/\/\/\/\/\/\

say_team Loading Practice Mode...

echo "/---------------------------/ Game Settings /---------------------------/

bot_kick
mp_warmup_end
sv_cheats 1
mp_limitteams 0;
mp_autoteambalance 0
mp_maxmoney 99999
mp_startmoney 99999
mp_buytime 999999
mp_buy_anywhere 1
mp_freezetime 0
mp_roundtime 99
mp_roundtime_defuse 99
mp_respawn_on_death_ct 1
mp_respawn_on_death_t 1
mp_round_restart_delay 1

echo "/---------------------------/ Player Settings /---------------------------/"

sv_regeneration_force_on true
sv_autobunnyhopping true
sv_showimpacts 1
sv_showimpacts_time 10

echo "/---------------------------/ Bind Settings /---------------------------/"

alias "give_knifes" "subclass_create 500; subclass_create 505; subclass_create 506; subclass_create 508; subclass_create 509; subclass_create 526 ; subclass_create 515; subclass_create 507;   subclass_create 525; subclass_create 521;  subclass_create 523; subclass_create 503; subclass_create 522; subclass_create 505; subclass_create 519; subclass_create 517; subclass_create 518; subclass_create 512; subclass_create 514; subclass_create 516; subclass_create 520; say_team Knife Equipment loaded!"

alias "give_practice_gear" "give item_assaultsuit; give weapon_ak47; give weapon_taser; give weapon_smokegrenade; give weapon_flashbang; give weapon_hegrenade; give weapon_decoy; give weapon_molotov; subclass_create 500; say_team Weapons Equipment loaded!"

bind x "noclip"
bind "F8" "give_practice_gear"
bind "F9" "give_knifes"

echo "/---------------------------/ Equipment Settings /---------------------------/"

sv_infinite_ammo 1
ammo_grenade_limit_total 5
sv_grenade_trajectory_prac_pipreview 1
mp_drop_knife_enable 1

echo "/---------------------------/ End Settings /---------------------------/"

mp_restartgame 1