# Config based from Borat guide: https://steamcommunity.com/sharedfiles/filedetails/?id=3070245604

+exec autoexec
# Load the autoexec config automaticly, if you start the game

-nointro
# Disables the CS2 intro video

-novid
# Disables the CS2 intro video

-high
# Sets the priority to high for the game

-threads 16
# Starts the game depending on the number of CPU cores

cl_interp Commands
# Fix lag and latency potentially

+mat_queue_mode 2
# This setting determines the threading mode the material system uses.

-d3d9ex
# This will disable some effects of Direct3D. This reduces the time needed for "old tabbing" into the game and onto the desktop

-nojoy
# Disables support for gamepads 